/*-------------------------------------------------------------------
Pages -> login
--------------------------------------------------------------------*/
.signin-page {
    .container {
        padding: 120px 0;
    }

    .signin-left {
        background: $primary;
        padding: 50px;
        border-radius: 10px;
    }

    h1 {
        color: #fff;
    }
}
