/*-------------------------------------------------------------------
Pages -> Home -> Card
--------------------------------------------------------------------*/

.card {
    padding: 30px 15px 0;
    height: 100%;
    border-radius: 20px;
    margin-right: 20px;
    border: 1px solid transparent;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background-color: #e2f1fc;
        border-radius: 20px;
        border: 1px solid $primary;
    }

    .card-head {
        color: $primary;
        font-size: 18px;
    }

    .card-amount {
        font-weight: $font-weight-bold;
        font-size: 35px;
        color: #00255b;
    }

    .card-img-top {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}
