/*-------------------------------------------------------------------
Pages -> login
--------------------------------------------------------------------*/
.login-page {
    text-align: center;

    .login-content {
        max-width: 500px;
        margin: 0 auto;
        padding: 170px 0;
    }
}
